@import "reset.css";
@import "screens/login.css";
@import "screens/signup.css";
/* @import "screens/addfunc.css";
@import "screens/board.css";
@import "components/searchForm.css";
@import "components/writeForm.css"; */

body{
    background-color: #F0F0F0;
}

#test{
    font-size: 20px;
    font-weight: 500;
    margin-top: 40px;
}